:root {
    --fucsia: #B31F4A;
}


a.cv, .llengua a {
    color: black;
}

a.index {
    margin: 0 1em;
}

a:hover {
    text-decoration: none;
}

h1, h2, a, .container {
    color: var(--fucsia);
}

h1 {
    padding-bottom: 0px;
}

h2 {
    margin-top: 1.5em;
}

body {
    max-width: 900px;
    margin: 1rem auto;
    padding: 0 1rem;
    line-height: 1.5;
}

hr {
    border: none;
    height: 1px;
    color: #333;  /* old IE */
    background-color: #888;  /* Modern Browsers */
}

a.boto_amunt {
    position: fixed;
    bottom: min(3em, min(5vw, 5vh));
    right: min(3em, min(5vw, 5vh));
    text-decoration: none;
    fill: var(--fucsia);
    line-height: 0;
    background: white;
    border-radius: 55%;
}

a.boto_amunt svg {
    width: 3em;
}

li:not(:last-child) {
    margin-bottom: 1.3em;
}

.capcalera {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
    gap: 2em;
    padding-bottom: 10px;
}

.capcalera > div {
    margin-right: auto;
}

.capcalera > img {
    width: 100%;
    max-width: 400px;
}

details {
    display: inline;
    border: 1px solid var(--fucsia);
    border-radius: .5em;
    padding: 0.2em 0.5em;
    margin-top: 0.4em;
    background-color: #fee;
}

summary {
    font-weight: bold;
    cursor: pointer;
    list-style: none;
}

summary::-webkit-details-marker {
    display:none;
}

.resum p:last-child {
    margin-bottom: 0;
}

.resum {
    text-align: justify;
}

.titol {
    font-size: 1.2em;
    margin-top: 1em;
}

.entrada {
    margin-bottom: 0;
}

.llengua {
    text-align: right;
}

.llengua svg {
    vertical-align: middle;
    height: 1.7em;
    fill: #b31f4a;
}

.primer_h2 {
    margin-top: 0;
}

.actualitzacio {
    text-align: center;
    font-size: 14px;
}

.container {
    display: flex;
    font-weight: bold;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
